<div class="screen-container">
  <div class="accordion-container">
    <mat-accordion *ngFor="let panel of expansionPanelConfig">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ panel.title }} </mat-panel-title>
          <mat-panel-description *ngIf="panel.description">
            {{ panel.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div [ngSwitch]="panel.contentType">
          <div *ngSwitchCase="contentType.FORM">
            <app-form-component
              *ngIf="panel.formContent"
              [formConfig]="panel.formContent"
            ></app-form-component>
          </div>

          <div *ngSwitchCase="contentType.LIST">
            <app-list-component
              *ngIf="panel.listContent"
              [listConfig]="panel.listContent"
            ></app-list-component>
          </div>

          <div *ngSwitchCase="contentType.DETAIL">
            <app-detail-presentation-component
              *ngIf="panel.detailPresentationContent"
              [detailConfig]="panel.detailPresentationContent"
            ></app-detail-presentation-component>
          </div>

          <div *ngIf="panel.optionToEdit" class="button-container">
            <button
              *ngIf="panel.optionToEdit"
              class="menu-button-primary-small"
              (click)="onEditClicked(panel.panelName)"
            >
              Edit
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
