.title {
  font-weight: bold;
  font-size: 1.5rem;
  width: 96%;
  margin: 1%;
  border: none;
}

.sub-title {
  font-weight: bold;
  font-size: 1rem;
  width: 96%;
}

.underlined-title {
  text-decoration: underline;
  padding-right: 10px;
}
