@import "../../../styles.scss";

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc (100vh - $navbar-height);
  align-items: center;
}

button {
  margin: 1vh 0;
}

h3,
h1 {
  max-width: 300px;
  width: 95%;
  text-align: center;
}
