header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../../assets/LandingImage.jpg);
    background-size: cover;
    height: 50vh;
  }
  
  .title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
  .title-text-large {
    text-transform: uppercase;
    margin: 0;
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .title-text-small {
    margin: 0;
    font-size: 1.3rem;
  }
  
  .info-card-container {
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 50px;
  }
  
  .info-card {
    width: 22%;
    margin: 20px 20px;
    text-align: center;
  }
  
  .info-card-header {
    margin: 0;
    margin-top: .2rem;
    padding-bottom: .5rem;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .info-card-button {
    background-color:rgb(48, 225, 248);
    margin: 0.5rem 0;
    box-sizing: border-box;
    position: relative;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    width: 18rem;
    height: 2.5rem;
    line-height: 24px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
  }
  
  li {
    text-align: left;
    margin: .3rem 0;
  }
  
  