<header>
  <div class="title">
    <p class="title-text-small">You built your business from the ground up</p>
    <p class="title-text-large">Now see its Value</p>
  </div>
</header>

<main class="info-card-container">
  <div class="info-card">
    <p class="info-card-header">Value Estimates</p>
    <div>
      <button
        class="info-card-button"
        routerLink="/estimates"
        routerLinkActive="active"
      >
        Get an Estimate now
      </button>
    </div>
    <ul>
      <li>Get an estimate of your business' value in <br />5-minutes</li>
      <li>100% Free - no profile required</li>
      <li>Cannot be saved</li>
      <li>Produces a value range estimate</li>
      <li>No valuation dates</li>
    </ul>
  </div>
  <div class="info-card">
    <p class="info-card-header">Desktop Valuations</p>
    <div>
      <button
        class="info-card-button"
        routerLink="/valuations/desktop"
        routerLinkActive="active"
      >
        Start your Desktop Valuation now
      </button>
    </div>
    <ul>
      <li>
        Simplified, easy to follow process to get a valuation of your business
      </li>
      <li>Free - but requires a profile</li>
      <li>Can be saved for later edits</li>
      <li>
        Produces a valuation result but with limited valuation methodologies
      </li>
      <li>Valuation reports available - only pay for reports produced</li>
      <li>Valuation date limited to last year end</li>
    </ul>
  </div>
  <div class="info-card">
    <p class="info-card-header">Full Valuations</p>
    <div>
      <button
        class="info-card-button"
        routerLink="/valuations/full"
        routerLinkActive="active"
      >
        Start your Desktop Valuation now
      </button>
    </div>
    <ul>
      <li>
        Comprehensive yet easy to follow process to produce a
        <span style="text-decoration: underline">precise</span> valuation of
        your business
      </li>
      <li>
        Produces valuation results using a wide range of valuation methodologies
      </li>
      <li>Requires a subscription</li>
      <li>
        Valuations can be saved, with supporting documents able to be attached
      </li>
      <li>Generate unlimited valuation reports</li>
      <li>Customisable valuation date</li>
    </ul>
  </div>
  <div class="info-card">
    <p class="info-card-header">Valuations Deltas</p>
    <div>
      <button
        class="info-card-button"
        routerLink="/valuations/delta"
        routerLinkActive="active"
      >
        Set up your VCV profile
      </button>
    </div>
    <ul>
      <li>An extremely powerful management tool for any business</li>
      <li>
        Comprehensive and full customisable process to produce a
        <span style="text-decoration: underline">recurrent</span> valuation of
        your business
      </li>
      <li>
        Not only produces valuation results using a wide range of valuation
        methodologies, but it able to detail the change in a business' value
        over time
      </li>
      <li>Requires a subscription</li>
      <li>Valuations can be saved, with attachable supporting documents</li>
      <li>
        Accounting system integration that reduces the time to produce monthly
        reports
      </li>
      <li>Fully customisable reports</li>
    </ul>
  </div>
</main>

<router-outlet></router-outlet>
