<div class="main-container">
  <app-sidebar
    class="sidebar"
    [sidebarMenu]="sidebarMenu"
    (optionClicked)="onMenuOptionClicked($event)"
  >
  </app-sidebar>
  <div class="content-view" [ngSwitch]="currentViewState">
    <app-user-profile *ngSwitchCase="ViewState.PROFILE"></app-user-profile>
    <app-valuations-list
      *ngSwitchCase="ViewState.VALUATIONS"
      class="content-view"
      [valuations]="clientValuations"
      (newValuation)="addValuation()"
      (viewValuationID)="viewValuation($event)"
      (deleteValuationID)="deleteValuation($event)"
    ></app-valuations-list>
  </div>
</div>

<!-- Conditional floating content -->
<div *ngIf="showNewNameFloat">
  <app-new-valuation-name-float
    (newValuation)="setNewValuation($event)"
    (cancelNewValuation)="cancelNewValuation()"
  ></app-new-valuation-name-float>
</div>

<app-user-notifications
  *ngIf="showNotification"
  [notificationContent]="userNotification"
  (primaryBtnClicked)="userNotificationPrimaryBtnClicked()"
  (secondaryBtnClicked)="userNotificationSecondaryBtnClicked()"
></app-user-notifications>
