.list-container {
  margin: 10px 0;
}

.list-title {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: bolder;
  margin: 10px 0;
}

.list-headers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  font-weight: bolder;
}

.list-lines {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.list-line {
  display: flex;
  width: 100%;
  flex-direction: row;
}
