.page-header-container {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: large;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.date-container {
  display: flex;
  width: 100%;
  height: 30px;
  font-size: larger;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.datepicker-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  height: 100%;
  margin: 10px;
}

.block-container {
  height: 25px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.block-time-container {
  width: 10%;
}

hr {
  margin: 0;
}

.lesson-button {
  background-color: aqua;
}

.appointment-button {
  background-color: hotpink;
}

.lesson-button,
.appointment-button {
  padding: 2px 5px;
  margin: 0 3px;
}