.page-header-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: calc(7.5vh + 12vh);
  position: fixed;
  width: 100%;
  padding-bottom: 10px;
  top: 0;

  .page-header-buffer {
    height: 7.5vh;
    min-height: 50px;
  }

  .page-header-title {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: large;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: white;
  }

  .date-picker-container {
    display: flex;
    width: 100%;
    height: 30px;
    font-size: larger;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);

    .datepicker-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
    }
  }
}


.calendar-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .calendar-buffer {
    height: calc(7.5vh + 12vh + 3px);
  }

  .calendar-blocks-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    margin: 0 10px;
    flex-grow: 1;

    .block-container {
      min-height: 25px;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-start;
      display: flex;
      flex-direction: row;
      border: 1px black;
      border-style: none none solid none;

      .block-time-container {
        width: 10%;
      }

      .block-appointment-container {
        display: flex;
        flex-grow: 1;

        .lesson-button {
          background-color: aqua;
        }

        .appointment-button {

          background-color: hotpink;
        }

        .lesson-button,
        .appointment-button {
          display: flex;
          flex-grow: 1;
          padding: 0 5px;
          margin: 0 3px;

          .appointment-button-asterisk {
            font-size: xx-small;
          }
        }
      }
    }
  }
}