.screen-container {
    display: flex;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    background-color: rgba(211, 25, 112, 0.333);
  }
  
  .warning-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(211, 25, 112);
    z-index: 3;
    padding: 5px;
  }
  
  .warning-header {
    width: calc(100% - 20px);
    text-align: center;
    font-weight: bold;
    margin: 10px;
  }
  
  .warning-body {
    width: 80%;
    text-align: justify;
    margin: auto;
    margin-bottom: 15px;
  }
  
  .button-container {
    display: flex;
    width: calc(100% - 20px);
    flex-wrap: nowrap;
    flex-direction: column;
    margin: auto;
  }
  
  button {
    display: flex;
    flex-grow: 1;
    margin: 5px;
    justify-content: center;
    align-items: center;
    height: 25px;
  }