<div class="navbar-buffer"></div>
<div class="screen-container">
  <canvas
    class="canvas"
    id="canvas"
    height="{{canvasUnitsHigh}}"
    width="{{canvasUnitsWide}}"
    (mousedown)="onMouseDown($event)"
  >
  </canvas>
  <div class="control-panel-container">
    <div class="message-box-container">
      <div class="section-header">Messages</div>
      <div class="message-box"></div>
    </div>
    <div class="settings-container">
      <div class="section-header">Settings</div>
      <div class="check-box-container">
        <div>Allow only right angle (90deg) corners:</div>
        <input type="checkbox" (change)="onBoxChecked()" checked />
      </div>
    </div>

    <div *ngIf="lines.length" class="lines-list-container">
      <div class="section-header">Lines drawn</div>

      <div class="line-list-column-headers">
        <div class="line-name-column">Description</div>
        <div class="line-start-column">Start Pt</div>
        <div class="line-end-column">End Pt</div>
      </div>

      <div *ngFor="let line of lines;  index as i " class="line-list-item">
        <div class="line-name-column">Line-{{i+1}}</div>
        <div class="line-start-column">
          [ {{line.startCanvas.x | number : '1.0-0'}} , {{line.startCanvas.y|
          number : '1.0-0'}} ]
        </div>
        <div class="line-end-column">
          [ {{line.endCanvas.x | number : '1.0-0'}} , {{line.endCanvas.y| number
          : '1.0-0'}} ]
        </div>
      </div>
    </div>

    <div class="button-container">
      <button
        *ngIf="isFirstLineDrawn === true"
        class="menu-button-warning-small"
        (click)="onResetClicked()"
      >
        Reset
      </button>
      <button
        *ngIf="isComplete"
        class="menu-button-primary-small"
        (click)="onScaleImageClicked()"
      >
        Scale Image
      </button>
    </div>
  </div>
</div>

<!-- Loose canvas Item  -->
<button
  *ngIf="isFirstClick===false && !isComplete"
  class="capture-circle-button"
  [ngStyle]="{'top':(firstActualY-20)+'px', 'left': (firstActualX-20)+'px'}"
  (click)="onLastClick()"
></button>

<div *ngFor="let line of lines">
  <div
    *ngIf="line.endScreen"
    class="floating-corners"
    [ngStyle]="{'top':(line.endScreen.y)+'px', 'left': (line.endScreen.x)+'px'}"
    (click)="onFloatingCornerClicked(line)"
  ></div>
</div>
