.modal-container {
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 255, 255, 0.2);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .card-container {
    z-index: 4;
    opacity: 1;
    background-color: rgb(0, 255, 255);
    width: 80%;
    max-width: 300px;
    margin: auto;

    .header {
      opacity: 1;
      padding: 20px 0;
      margin: 0 auto;
      font-size: larger;
      font-weight: bolder;
      display: flex;
      width: 80%;
      justify-content: center;
    }

    .button-container {
      display: flex;
      justify-content: center;
      flex-direction: column;

      button {
        height: 35px;
        margin: 10px 10px;
        border-radius: 5px;
        background-color: aqua;
        border: none;
        min-width: 120px;
      }

      .button-primary {
        background-color: blue;
        color: white;
      }

      .button-seconday {
        background-color: rgb(255, 165, 165);
        color: black;
      }
    }
  }
}
