<div class="page-header-buffer"></div>
<router-outlet></router-outlet>

<!-- <div class="page-container" [ngSwitch]="currentViewState">
  <div *ngSwitchCase="viewStateEnum.GENERATE_STATEMENTS_PARAMETERS">
    <app-generate-statement-modal
      (generateStatementParameters)="generateStatement($event)"
      (cancelled)="switchViewState(viewStateEnum.MAIN)"
    ></app-generate-statement-modal>
  </div>

  <div *ngSwitchCase="viewStateEnum.VIEW_STATEMENT">
    <app-financial-doc-list-screen
      [config]="statementPageConfig"
      (itemClicked)="onStatementClicked($event)"
    ></app-financial-doc-list-screen>
    <app-menu-component
      [config]="statementMenuConfig"
      (viewStateSelected)="onMenuOptionClicked($event)"
    ></app-menu-component>
  </div>


</div> -->
