html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-container {
  width: 100%;
  height: calc(100vh - 150px);
}

// Buttons 
.primary-button,
.secondary-button,
.primary-warning-button,
.secondary-warning-button {
  border: none;
  width: 100%;
  max-width: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.primary-button:hover,
.secondary-button:hover,
.primary-warning-button:hover,
.secondary-warning-button:hover {
  transform: scale(1.03);
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

.primary-button:after,
.secondary-button:after,
.primary-warning-button:after,
.secondary-warning-button:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.primary-button:active:after,
.secondary-button:active:after,
.primary-warning-button:active:after,
.secondary-warning-button:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}

.primary-button {
  background-color: blue;
  color: white;
}

.secondary-button {
  background-color: white;
  color: blue;
}

.primary-warning-button {
  background-color: red;
  color: white;
}

.secondary-warning-button {
  background-color: white;
  color: red;
}