<mat-button-toggle-group
  class="container"
  name="League Options"
  aria-label="Font Style"
>
  <div
    style="
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
    "
  >
    <mat-button-toggle
      style="width: calc(100% / 3); display: block"
      value="Standings"
      >Standings</mat-button-toggle
    >
    <mat-button-toggle
      style="width: calc(100% / 3); display: block"
      value="Results"
      >Results</mat-button-toggle
    >
    <mat-button-toggle
      style="width: calc(100% / 3); display: block"
      value="Predictions"
      >Predictions</mat-button-toggle
    >
  </div>
</mat-button-toggle-group>
