@import "../../../../styles.scss";

.main-container {
  display: flex;
  margin: 0 10%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-container {
  margin: 30px 0;
  font-size: x-large;
  font-weight: bolder;
}

.intro-para-container {
  font-weight: bolder;
  margin-bottom: 20px;
  text-align: start;
  width: 100%;
}

.list-container {
  display: flex;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  background: $primary-colour;
  padding: 5px;
  margin: 10px 0;
}

li {
  margin-bottom: 10px;
}

span {
  font-weight: bold;
  padding: 5px 0;
}

mat-accordion,
mat-expansion-panel {
  width: 100%;
}

mat-accordion {
  margin-bottom: 10px;
  z-index: 0;
}

.mat-expansion-panel {
  background: $primary-colour;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.display-row {
  display: flex;
  flex-direction: row;
}

.spacer {
  display: flex;
  flex-grow: 1;
  min-width: 50px;
}

h1 {
  font-size: 15px;
  font-weight: bolder;
  margin: 0;
}

mat-panel-title {
  font-size: 20px;
  font-weight: bolder;
}

.plain-title {
  align-self: center;
}

input {
  margin-top: 3px;
  padding: 0;
}

.question-row,
.question-row-emphasis,
.question-row-emphasis-with-space,
.question-row-emphasis-no-space {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 5px;
}

.question-row-emphasis-with-space,
.question-row-emphasis,
.question-row-emphasis-no-space {
  background: $forth-color;
}

.question-row-emphasis-with-space {
  margin-bottom: 20px;
}

.question-row-emphasis-no-space {
  margin-bottom: 0;
}

.question-row-emphasis {
  margin-bottom: 10px;
}

.section-row-container {
  width: 100%;
}
