<div
  class="list-container"
  [ngStyle]="{ padding: listConfig.isInExpansionTable ? '0' : '0 10%' }"
>
  <div class="list-title">{{ listConfig.title }}</div>
  <div class="list-headers">
    <div
      *ngFor="let header of listConfig.headers; let i = index"
      [ngStyle]="{
        'width.%': columnWidths[i],
        'text-align': i === 0 ? 'start' : 'end'
      }"
    >
      {{ header.content }}
    </div>
  </div>
  <div class="list-lines">
    <div
      class="list-line"
      *ngFor="let line of listConfig.lines; let lineIndex = index"
      (click)="onItemClicked(lineIndex)"
    >
      <div
        *ngFor="let field of line; let fieldIndex = index"
        [ngStyle]="{
          'width.%': columnWidths[fieldIndex],
          'text-align': fieldIndex === 0 ? 'start' : 'end'
        }"
      >
        {{ field }}
      </div>
    </div>
  </div>
</div>
