.home-page-header {
  display: flex;
  width: 100%;
  height: 100px;
  font-size: 45px;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
}

.navigation-page-button-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}

.navigation-page-button-container ::after {
  content: "";
  flex: auto;
}

button {
  width: 125px;
  height: 125px;
  margin: 30px;
  margin-bottom: 0;
}

.navbar-button-container {
  display: flex;
  flex-direction: column;
  margin: 5%;
  height: 100%;
}

.navbar-button {
  min-height: 30px;
  height: 100%;
  margin: 10px 0;
  padding: 0;
  width: 100%;
  background-color: aqua;
  border: none;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
}
