<div [ngSwitch]="currentViewState">
  <app-view-agents-screen
    *ngSwitchCase="viewState.VIEW"
    [agents]="agents"
    (agentClicked)="onAgentClicked($event)"
    (viewStateSelected)="onViewStateSelected($event)"
  ></app-view-agents-screen>

  <app-agent-form-screen
    *ngSwitchCase="viewState.ADD"
    (formSubmitted)="onAgentAdded($event)"
    (viewStateSelected)="onViewStateSelected($event)"
  ></app-agent-form-screen>

  <app-agent-form-screen
    *ngSwitchCase="viewState.EDIT"
    [currentValues]="currentValues"
    (formSubmitted)="onAgentEdited($event)"
    (viewStateSelected)="onViewStateSelected($event)"
  ></app-agent-form-screen>

  <app-view-agent-detail-screen
    *ngSwitchCase="viewState.VIEW_AGENT"
    [agentProfile]="agentProfile"
    [agentLeads]="agentLeads"
    (viewStateSelected)="onViewStateSelected($event)"
    (requestToEdit)="onRequestToEdit()"
  ></app-view-agent-detail-screen>

  <app-agent-password-screen
    *ngSwitchCase="viewState.SET_AGENT_PASSWORD"
    (formSubmitted)="onAgentPasswordSet($event)"
    (viewStateSelected)="onViewStateSelected($event)"
    (isPasswordMismatched)="onPasswordMismatch()"
  ></app-agent-password-screen>

  <app-warning-modal
    *ngIf="isWarning"
    [warningConfig]="warnigConfig"
    (proceed)="isWarning = false"
  ></app-warning-modal>

  <app-notifications-modal
    *ngIf="isNotifying"
    [notificationConfig]="notificationConfig"
    (proceed)="onNotificationProceed()"
  ></app-notifications-modal>
</div>
