.main-container {
  display: flex;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  background-color: rgba(49, 204, 204, 0.637);
}

.form-container {
  width: 90%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  z-index: 3;
  padding: 5px;
}

.form-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(100% - 20px);
  margin: 10px;
}

.header-text {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.header-input {
  width: 70%;
}

.edit-icon {
  margin: 5px;
}

.form-line {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  height: 25px;
  margin-left: -5px;
}

.form-line-title {
  width: 40%;
  max-width: 130px;
  min-width: fit-content;
  padding: 0 5%;
  font-weight: bolder;
}

.form-line-time {
  margin-left: -5px;
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  height: 25px;
  justify-content: space-between;
}

.button-container {
  display: flex;
  width: calc(100% - 20px);
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.editable-time-selector,
.uneditable-time-selector {
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  margin-right: 5%;
  width: 60px;
}

.editable-time-selector {
  background-color: white;
}

.uneditable-time-selector {
  background-color: aqua;
  justify-content: flex-start;
  width: 60%;
}

input {
  width: 172px;
  border: none;
  height: 25px;
  padding-left: 5px;
}

.editable-date-input,
.uneditable-date-input {
  width: 130px;
  border: none;
  height: 25px;
  padding-left: 5px;
}

.editable-date-input {
  background-color: white;
}

.uneditable-date-input {
  background-color: aqua;
}

button {
  display: flex;
  flex-grow: 1;
  margin: 5px;
  justify-content: center;
  align-items: center;
  height: 25px;
}

.mid-selector-container {
  padding: 0 10px;
}

.editable-selector,
.uneditable-selector {
  width: 172px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

.editable-selector {
  background-color: white;
}

.uneditable-selector {
  justify-content: flex-start;
  background-color: aqua;
}

.button-smaller {
  width: 50%;
}

.editable-input {
  background-color: white;
}

.uneditable-input {
  background-color: aqua;
}

::ng-deep .mat-select-value,
::ng-deep .mat-select-placeholder {
  color: black !important;
}

.uneditable-input,
.editable-input,
.editable-selector,
.uneditable-selector,
.editable-date-input,
.uneditable-date-input {
  flex-grow: 1;
  margin-right: 5%;
}