<div *ngIf="!isWarning" class="main-container">
  <form
    class="form-container"
    [formGroup]="appointmentForm"
    (ngSubmit)="onSubmitClick()"
  >
    <!-- ----------------------------- Form fields section --------------------------- -->
    <!-- Title -->
    <div *ngIf="!isHeaderEditable" class="form-header">
      <div class="header-text">{{ modalHeader }}</div>
      <mat-icon
        *ngIf="isEditable"
        class="edit-icon"
        (click)="onHeaderEditClick()"
        >edit</mat-icon
      >
    </div>
    <div *ngIf="isHeaderEditable" class="form-header">
      <input
        class="header-input"
        (change)="onChangesMade()"
        type="text"
        formControlName="subject"
      />
      <mat-icon (click)="onHeaderEditSubmitClick()">check</mat-icon>
      <mat-icon (click)="onHeaderEditCancelClick()">cancel</mat-icon>
    </div>

    <!-- Appointment Type -->
    <div class="form-line">
      <div class="form-line-title">Appointment type:</div>
      <div *ngIf="!isEditable" [ngClass]="'uneditable-selector'">
        {{appointmentType[appointmentForm.controls['type'].value]}}
      </div>

      <mat-select
        *ngIf="isEditable"
        placeholder="Appointment Type"
        [compareWith]="compareTypes"
        [ngClass]="'editable-selector'"
        (selectionChange)="onChangesMade()"
        formControlName="type"
      >
        <mat-option
          *ngFor="let key of appointmentTypeEnumKeysNumbers"
          [value]="key"
          >{{appointmentType[key]}}</mat-option
        >
      </mat-select>
    </div>

    <!-- Client -->
    <div *ngIf="showClientField" class="form-line">
      <div class="form-line-title">Client:</div>
      <div *ngIf="!isEditable" [ngClass]="'uneditable-selector'">
        {{appointmentForm.controls['client'].value}}
      </div>

      <mat-select
        *ngIf="isEditable"
        [compareWith]="compareClients"
        [ngClass]="'editable-selector'"
        (selectionChange)="onChangesMade()"
        formControlName="client"
      >
        <mat-option
          [value]="option.value"
          *ngFor="let option of clients | keyvalue"
          >{{ option.value.displayName }}</mat-option
        >
      </mat-select>
    </div>

    <!-- Date -->
    <div class="form-line">
      <div class="form-line-title">Date:</div>
      <div *ngIf="!isEditable" [ngClass]="'uneditable-date-input'">
        {{appointmentForm.controls['date'].value | date: 'dd MMM yyyy'}}
      </div>

      <div class="date-selector" *ngIf="isEditable">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <input
          [ngClass]="'editable-date-input'"
          (dateChange)="onChangesMade()"
          [matDatepicker]="picker"
          formControlName="date"
        />
      </div>
    </div>

    <!-- Start Time  -->

    <div class="form-line-time">
      <div class="form-line-title">Start time:</div>
      <div *ngIf="!isEditable" [ngClass]="'uneditable-time-selector'">
        {{appointmentForm.controls['startTime'].value.hours}}:{{appointmentForm.controls['startTime'].value.minutes
        | number: '2.0-0'}}
      </div>

      <mat-select
        *ngIf="isEditable"
        [compareWith]="compareTimes"
        [ngClass]="'editable-time-selector'"
        (selectionChange)="onChangesMade()"
        formControlName="startTime"
      >
        <mat-option
          *ngFor="let option of startTimeOptions"
          [value]="option.value"
          >{{ option.display}}</mat-option
        >
      </mat-select>
    </div>

    <!-- Duration  -->
    <div class="form-line-time">
      <div class="form-line-title">Duration:</div>
      <div *ngIf="!isEditable" [ngClass]="'uneditable-time-selector'">
        {{appointmentForm.controls['duration'].value.hours}}:{{appointmentForm.controls['duration'].value.minutes
        | number: '2.0-0'}}
      </div>

      <mat-select
        *ngIf="isEditable"
        [compareWith]="compareTimes"
        [ngClass]="'editable-time-selector'"
        (selectionChange)="onChangesMade()"
        formControlName="duration"
      >
        <mat-option
          *ngFor="let option of durationTimeOptions"
          [value]="option.value"
          >{{ option.display}}</mat-option
        >
      </mat-select>
    </div>

    <!-- Invoice number -->
    <div *ngIf="currentAppointment.invoice !== 0" class="form-line">
      <div class="form-line-title">Invoice number:</div>
      <div>{{currentAppointment.invoice}}</div>
    </div>

    <!-- ----------------------------- Buttons section --------------------------- -->
    <!-- Buttons for present mode -->
    <div *ngIf="!isEditable" class="button-container">
      <button
        class="primary-button"
        *ngIf="!isEditable"
        (click)="onCloseClick()"
      >
        Close
      </button>
      <button
        class="secondary-button"
        *ngIf="!isEditable"
        (click)="onEditAppointmentClick()"
      >
        Edit / Cancel Appointment
      </button>
    </div>

    <!-- Buttons for edit mode -->
    <div *ngIf="isEditable" class="button-container">
      <button class="primary-button" *ngIf="isSavable" type="submit">
        {{isNewAppointment? 'Save': 'Save changes'}}
      </button>
      <button
        class="secondary-button"
        *ngIf="!isNewAppointment"
        (click)="onCancelAppointmentClick()"
      >
        Cancel appointment
      </button>
      <button class="secondary-button" (click)="onCancelEditsClick()">
        {{isNewAppointment? 'Cancel': 'Cancel changes'}}
      </button>
    </div>
  </form>
</div>

<app-warnings-modal
  #warningsComponent
  *ngIf="isWarning"
  [warning]="warningType"
  [subject]="warningSubject"
  (proceed)="warningProceed(true)"
  (cancel)="warningProceed(false)"
></app-warnings-modal>
