<div class="page-container" [ngSwitch]="currentViewState">
  <div *ngSwitchCase="viewStateEnum.MAIN">
    <app-menu-component
      [config]="clientMenuPageConfig"
      (viewStateSelected)="switchViewState($event)"
    ></app-menu-component>
  </div>

  <div *ngSwitchCase="viewStateEnum.VIEW">
    <app-general-items-list-screen
      [config]="clientListPageConfig"
      (itemClicked)="viewClient($event)"
    ></app-general-items-list-screen>
    <app-menu-component
      [config]="viewClientsMenuConfig"
      (viewStateSelected)="switchViewState($event)"
    ></app-menu-component>
  </div>

  <sigmafox-modal-client-details
    *ngSwitchCase="viewStateEnum.CLIENT_DETAIL"
    [clientDetails]="currentClient.clientDetails"
    (update)="onClientUpdate($event)"
    (close)="onModalClosed()"
  ></sigmafox-modal-client-details>

  <sigmafox-modal-client-details
    *ngSwitchCase="viewStateEnum.NEW_CLIENT"
    (update)="onClientAdd($event)"
    (close)="onModalClosed()"
  ></sigmafox-modal-client-details>
</div>
