  .page-header-buffer {
    height: 7.5vh;
    min-height: 50px;
  }

  .home-page-header {
    display: flex;
    width: 100%;
    height: 100px;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
  }

  .navigation-page-button-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
  }

  button {
    width: 125px;
    height: 125px;
    margin: 30px;
    margin-bottom: 0;
  }