<div class="page-container" [ngSwitch]="currentViewState">
  <div *ngSwitchCase="viewStateEnum.MAIN">
    <app-menu-component
      [config]="clientMenuPageConfig"
      (viewStateSelected)="switchViewState($event)"
    ></app-menu-component>
  </div>

  <div *ngSwitchCase="viewStateEnum.VIEW">
    <app-general-items-list-screen
      [config]="clientListPageConfig"
      (itemClicked)="viewClient($event)"
    ></app-general-items-list-screen>
    <app-menu-component
      [config]="viewClientsMenuConfig"
      (viewStateSelected)="switchViewState($event)"
    ></app-menu-component>
  </div>

  <app-client-details-modal
    *ngSwitchCase="viewStateEnum.CLIENT_DETAIL"
    [currentClient]="currentClient"
    (closed)="switchViewState(viewStateEnum.VIEW)"
    (newClient)="addClient($event)"
    (editedClient)="editClient($event)"
    (removeClient)="removeClient()"
  ></app-client-details-modal>
</div>
