<div class="screen-container">
  <div class="background-container"></div>
  <div class="content-container">
    <div class="text-container">
      <div>
        <span>Manage </span>
        <span @fade *ngIf="this.elementSwitch"
          >{{alternatingText[textCounter]}}</span
        >
        <span @fade *ngIf="!this.elementSwitch"
          >{{alternatingText[textCounter]}}</span
        >
      </div>
      <span>within</span>
      <br />
      <span>the palm</span>
      <br />
      <span>of your hands</span>
    </div>
    <div class="call-to-action-button-container">
      <sigmafox-standard-button
        [size]="buttonSize.Large"
        [copy]="callToActionText"
        [class]="'primary-button'"
        (clicked)="onSignUpClick()"
      ></sigmafox-standard-button>
    </div>
    <div class="next-screen-scroll-button-container">
      <button (click)="scrollToNext()">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
  </div>
</div>
