.screen-container {
  padding: 3%;

  .basic-detail-container {
    margin: 2vh 0;

    .general-line {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

  .list-container {
    display: flex;
    flex-direction: column;

    .header-line {
      display: flex;
      flex-direction: row;
      font-weight: bold;
      width: calc(100% - 2vw);
      background-color: aquamarine;
      padding: 0 1vw;
    }

    .subheader-line {
      text-decoration: underline;
      padding: 5px 1vw;
    }

    .general-line {
      display: flex;
      flex-direction: row;
      width: calc(100% - 2vw);
      padding: 0 1vw;
    }
  }

  .summary-container {
    width: 100%;
    background-color: aquamarine;
    border-style: none none solid none;
    margin-top: 10px;

    .general-line {
      display: flex;
      flex-direction: row;
      width: 100%;

      .detail-column {
        width: 80%;
        padding: 0 1vw;
      }

      .amount-column {
        padding: 0 1vw;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 20%;
        text-align: end;
      }
    }

    .double-line {
      width: 100%;
      height: 1px;
      border-style: solid none none none;
    }
  }

  // These repeat and need to be consistance (therefore not nested)
  .number-column {
    width: 7%;
  }

  .date-column {
    width: 27%;
  }

  .detail-column {
    width: 48%;
  }

  .amount-column {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 18%;
    text-align: end;
  }
}