.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: aqua;
}

.ferric-tech-logo-container {
  display: flex;
  height: 15vh;
  margin: 7vh auto;
  width: 80%;
  max-width: 400px;
  font-weight: bold;
  font-size: xx-large;
  justify-content: center;
}

.footer-container {
  display: flex;
  height: 28vh;
}
