<div [ngSwitch]="currentViewState">
  <app-sign-in-screen
    *ngSwitchCase="viewState.SIGN_IN"
    (formSubmitted)="onSignIn($event)"
  ></app-sign-in-screen>

  <app-register-flow
    *ngSwitchCase="viewState.REGISTER"
    (basicDetailsFormSubmitted)="registerUser($event)"
    (isPasswordMismatched)="onRegisterPasswordMismatch()"
    (registrationComplete)="onRegistrationComplete($event)"
  ></app-register-flow>

  <app-forgot-password-screen
    *ngSwitchCase="viewState.FORGOT_PASSWORD"
    (formSubmitted)="onForgotPasswordSubmit($event)"
  ></app-forgot-password-screen>
</div>

<app-warning-modal
  *ngIf="isWarning"
  [warningConfig]="warnigConfig"
  (proceed)="isWarning = false"
></app-warning-modal>

<app-notifications-modal
  *ngIf="isNotifying"
  [notificationConfig]="notificationConfig"
  (proceed)="onNotificationProceed()"
></app-notifications-modal>

<app-menu-component
  [menuOptions]="menuOptions"
  (viewStateSelected)="onViewStateSelected($event)"
></app-menu-component>
