.main-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 120px;

  .narrow-container {
    max-width: 450px;
    width: 100%;

    .title {
      padding: 15px 10px;
      font-size: 25px;
      font-weight: bold;
      display: flex;
      justify-content: center;
    }

    .sub-title {
      padding: 0 25px 20px 25px;
      font-size: 15px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    button {
      height: 35px;
      border-radius: 5px;
      background-color: aqua;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 10px auto 10px auto;
    }

    .sign-out-button {
      background-color: rgb(255, 165, 165);
      color: black;
    }
  }
}
