<app-page-header-component [header]="'Quotes'"></app-page-header-component>
<div [ngSwitch]="currentViewState">
  <app-product-select-screen
    *ngSwitchCase="viewState.PRODUCT_SELECT"
    (formSubmitted)="onProductSelectFormSubmitted($event)"
  ></app-product-select-screen>

  <app-product-measurements-screen
    *ngSwitchCase="viewState.PRODUCT_MEASUREMENTS"
    (formSubmitted)="onProductMeasurementFormSubmitted($event)"
  ></app-product-measurements-screen>

  <app-quote-parameters-screen
    *ngSwitchCase="viewState.QUOTE_PARAMETERS"
    (formSubmitted)="onQuoteParametersFormSubmitted($event)"
  ></app-quote-parameters-screen>

  <app-quote-results-screen
    *ngSwitchCase="viewState.RESULTS"
    [quoteParams]="quoteParams"
    [quoteResponse]="quoteResponse"
  ></app-quote-results-screen>
</div>

<app-menu-component [menuOptions]="menuOptions"></app-menu-component>
