.screen-container {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
