<div class="view-container">
  <div class="view-row">
    <div class="view-line-title">Revenue:</div>
    <!-- <div *ngIf="valuationFinancialHistory.revenue">
      {{ valuationFinancialHistory.revenue }}
    </div> -->
  </div>

  <div class="view-row">
    <div class="view-line-title">Cost of Sales:</div>
    <!-- <div *ngIf="valuationFinancialHistory.costOfSales">
      {{ valuationFinancialHistory.costOfSales }}
    </div> -->
  </div>

  <div class="view-row">
    <div class="view-line-title">Operating Expenses:</div>
    <!-- <div *ngIf="valuationFinancialHistory.operatingExpenses">
      {{ valuationFinancialHistory.operatingExpenses }}
    </div> -->
  </div>

  <div class="view-row">
    <div class="view-line-title">Other Income:</div>
    <!-- <div *ngIf="valuationFinancialHistory.otherIncome">
      {{ valuationFinancialHistory.otherIncome }}
    </div> -->
  </div>

  <div class="view-row">
    <div class="view-line-title">Interest Expenses:</div>
    <!-- <div *ngIf="valuationFinancialHistory.interestExpense">
      {{ valuationFinancialHistory.interestExpense }}
    </div> -->
  </div>

  <div class="view-row">
    <div class="view-line-title">Interest Income:</div>
    <!-- <div *ngIf="valuationFinancialHistory.interestIncome">
      {{ valuationFinancialHistory.interestIncome }}
    </div> -->
  </div>

  <div class="view-row">
    <div class="view-line-title">Taxation:</div>
    <!-- <div *ngIf="valuationFinancialHistory.taxation">
      {{ valuationFinancialHistory.data.taxation }}
    </div> -->
  </div>
</div>
