<div class="main-container">
  <form
    class="form-container"
    [formGroup]="clientForm"
    (ngSubmit)="onSubmitClick()"
  >
    <div class="form-header">
      {{ clientForm.controls["displayName"].value }}
      <mat-icon *ngIf="isDisplayNameEditable">edit</mat-icon>
    </div>

    <div class="form-line">
      <div class="form-line-title">First name:</div>
      <input
        type="text"
        (change)="updateDisplayName()"
        formControlName="firstName"
      />
    </div>

    <div class="form-line">
      <div class="form-line-title">Last name:</div>
      <input
        type="text"
        (change)="updateDisplayName()"
        formControlName="lastName"
      />
    </div>

    <div class="form-line">
      <div class="form-line-title">Contact email:</div>
      <input type="text" formControlName="email" />
    </div>

    <div class="form-line">
      <div class="form-line-title">Contact number:</div>
      <input type="text" formControlName="telephoneNumber" />
    </div>

    <!-- Buttons  -->
    <div class="button-container">
      <button
        class="primary-button"
        type="submit"
        [disabled]="!clientForm.valid"
        (click)="onSaveClick(true)"
      >
        Save and New
      </button>
      <button
        class="primary-button"
        type="submit"
        [disabled]="!clientForm.valid"
        (click)="onSaveClick(false)"
      >
        Save and Close
      </button>
      <button
        *ngIf="!isNewClient"
        class="secondary-button"
        type="submit"
        (click)="onRemoveClientClick()"
      >
        Remove client
      </button>
      <button class="secondary-button" (click)="onCloseClick()">Close</button>
    </div>
  </form>
</div>
