// Desktop
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 40px;
  font-size: x-large;
  background-color: white;
  position: fixed;
}

img {
  height: 40px;
}

@media only screen and (max-width: 380px) {
  .logo-container {
    height: 75px;
    align-items: center;
  }

  img {
    height: 75px;
  }
}