<!-- <div
  *ngIf="this.elementSwitch"
  class="screen-container"
  [ngStyle]="backgroundColourStyle"
>
  <div class="background-container"></div>
  <div class="content-container">
    <div class="text-container">
      <div class="header-text">{{currentHeader}}</div>
      <div class="copy-text">{{currentCopy}}</div>
    </div>
    <img src="{{currentImage}}" alt="" />
    <div class="next-screen-scroll-button-container">
      <button (click)="scrollToNext()">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="!this.elementSwitch"
  class="screen-container"
  [ngStyle]="backgroundColourStyle"
>
  <div class="background-container"></div>
  <div class="content-container">
    <div class="text-container">
      <div class="header-text">{{currentHeader}}</div>
      <div class="copy-text">{{currentCopy}}</div>
    </div>
    <img src="{{currentImage}}" alt="" />
    <div class="next-screen-scroll-button-container">
      <button (click)="scrollToNext()">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
  </div>
</div> -->

<sigmafox-landing-screen
  [structuredPages]="structuredPages"
  [navigationPanel]="navigationPanel"
  (scrollToNextScreenClickced)="scrollToNextScreen()"
></sigmafox-landing-screen>
