<div [ngSwitch]="currentViewState">
  <div *ngSwitchCase="viewState.MENU">
    <app-page-header-component
      [header]="'Products menu'"
    ></app-page-header-component>
    <app-menu-component
      [menuOptions]="menuOptions"
      (viewStateSelected)="onViewStateSelected($event)"
    ></app-menu-component>
  </div>

  <div *ngSwitchCase="viewState.COMPONENTS">
    <app-page-header-component
      [header]="'Components'"
    ></app-page-header-component>
    <app-components-screen
      (viewStateSelected)="onViewStateSelected($event)"
    ></app-components-screen>
  </div>
</div>
