.page-container {
  height: 100vh;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 28px;
  height: 10%;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: large;
  height: 90%;
}

img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}
