.screen-container {
  display: flex;
  width: 100%;
  justify-content: center;

  .basket-container {
    max-width: 450px;

    .title {
      display: flex;
      flex-grow: 1;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: bold;
      padding: 20px;
    }

    .minor-button {
      height: 35px;
      border-radius: 5px;
      background-color: aqua;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 10px auto 10px auto;
    }

    .checkout-button {
      display: flex;
      width: 100%;
      height: 100px;
      background-color: lime;
      color: black;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 0;
      bottom: 0;
      border: none;
      z-index: 2;
    }
  }
}
