<div style="display: flex">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      class="sidenav"
      #sidenav
      mode="side"
      [(opened)]="isShown"
      (opened)="isShown = true"
      (closed)="isShown = false"
    >
      Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>
      <p>
        <button class="toggleButton" mat-button (click)="sidenav.toggle()">
          <img *ngIf="isShown" src="../../../assets/icons/arrow-left.png" />
          <img *ngIf="!isShown" src="../../../assets/icons/arrow-right.png" />
        </button></p
    ></mat-sidenav-content>
  </mat-sidenav-container>
  <div style="display: flex; flex-grow: 1">
    <app-estimatesworkspace></app-estimatesworkspace>
    <!-- <ng-container *ngComponentOutlet="workspaceComponent"></ng-container> -->
  </div>
</div>
