.detail-presentation-container {
  max-width: 600px;
  background-color: rgb(161, 255, 255);
  margin: auto;
  padding: 20px;
}

.narrow-results-container {
  width: 80%;
}

.wide-results-container {
  width: 100%;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  margin: 15px 0;
}

.description-line {
  font-weight: bolder;
  margin-top: 10px;
}

.oneliner {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.oneline-header {
  font-weight: bolder;
  width: 50%;
}

.oneline-detail {
  justify-content: flex-start;
}

.footer {
  height: 30px;
  width: 100%;
}