<app-general-screen-header-component
  [header]="header"
></app-general-screen-header-component>
<div class="list-container">
  <!-- Headers -->
  <div class="header-line">
    <div
      *ngFor="let column of listConfig.columns"
      [ngStyle]="{width: column.widthPerc}"
    >
      {{column.content}}
    </div>
  </div>

  <!-- Details -->
  <div
    *ngFor="let generalItem of listConfig.items | keyvalue"
    (click)="onItemClicked(generalItem.key)"
  >
    <div class="general-item-line" *ngIf="!generalItem.value.voided">
      <div
        [ngStyle]="{width: field.widthPerc}"
        *ngFor="let field of generalItem.value.listedDetails  "
      >
        <div>{{field.content}}</div>
      </div>
    </div>
  </div>
</div>
