<div class="page-container">
  <app-general-screen-header-component
    [header]="header"
  ></app-general-screen-header-component>
  <div class="button-container">
    <button
      mat-button
      *ngFor="let option of config.menu"
      [ngClass]="
        option.styling === optionStyling.Secondary
          ? 'navbar-button secondary-menu-button'
          : 'navbar-button primary-menu-button'
      "
      (click)="
        onMenuOptionClicked(
          option.action,
          option.pathConfig,
          option.viewState,
          option.backToReferrer
        )
      "
    >
      {{ option.display }}
    </button>
  </div>
</div>
