<div class="navbar-container">
  <div class="top-container">
    <div class="logo-and-menu-container">
      <div class="logo-container" (click)="onLogoClick()">
        <img
          class="logo-image"
          src="./../../../assets/logos/horse-head-icon.png"
          alt=""
        />
        <div class="logo-text">e-Questrian</div>
      </div>
      <div *ngIf="!isMobileView" class="menu-container">
        <div *ngFor="let option of menuOptions">
          <button
            *ngIf="option.isOpenDisplay"
            class="menu-button"
            (click)="onMenuOptionClicked(option)"
            mat-button
          >
            {{ option.display }}
          </button>
        </div>
      </div>
    </div>

    <div class="icon-menu-container">
      <div
        *ngFor="let option of iconMenu"
        class="icon-container"
        (click)="onMenuIconClicked(option.menuIcon)"
      >
        <mat-icon class="icon">{{ option.icon }}</mat-icon>
        <div class="lable">{{ option.lable }}</div>
      </div>
    </div>
  </div>

  <div *ngIf="isMobileView && showDropDown" class="drop-down-container">
    <button
      *ngFor="let option of menuOptions"
      class="menu-button"
      (click)="onMenuOptionClicked(option)"
      mat-button
    >
      {{ option.display }}
    </button>
  </div>
</div>
