.navbar-container {
  display: flex;
  width: 100%;
  min-height: 50px;
  background-color: aqua;
}

.navbar-logo-and-menu-button-container {
  display: flex;
  width: 100%;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  min-width: 75px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-logo-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

mat-icon:hover,
.navbar-logo-container:hover {
  cursor: pointer;
}

.navbar-button:hover {
  cursor: pointer;
  font-weight: bold;
}

.navbar-menu-icon-container {
  display: none;
}

.navbar-button-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.navbar-button {
  height: 100%;
  min-height: 25px;
  background-color: inherit;
  border: none;
}

@media only screen and (max-width: 450px) {

  .navbar-container,
  .navbar-button-container {
    flex-direction: column;
  }

  .navbar-logo-and-menu-button-container {
    max-width: none;
    padding: 0;
  }

  .navbar-logo-container {
    width: calc(100% - 70px);
    max-width: none;
    font-weight: bold;
    font-size: large;
    padding-left: 70px;
  }

  .navbar-menu-icon-container {
    display: flex;
    width: 50px;
    padding-right: 20px;
    justify-content: flex-end;
  }
}