<e-questrian-entry-c2a
  (scrollToNextScreenClicked)="scrollToNextScreen(featuresSection)"
></e-questrian-entry-c2a>

<div #featuresSection>
  <e-questrian-features-section
    (scrollToNextScreenClicked)="scrollToNextScreen(clientTestimonialsSection)"
  ></e-questrian-features-section>
</div>

<div #clientTestimonialsSection>
  <e-questrian-client-testimonials-section
    (scrollToNextScreenClicked)="scrollToNextScreen(whatsNewSection)"
  ></e-questrian-client-testimonials-section>
</div>

<div #whatsNewSection>
  <e-questrian-whats-new-section></e-questrian-whats-new-section>
</div>
